.custom-card {
    border: 1px solid #000;
    background-color: #F59B5E;
    width: 18rem;
    height: 21rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Ensure content stays within the card */
}

.custom-card-img {
    object-fit: contain;
    height: 12rem;
    width: 100%;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    flex-grow: 1;
    text-align: center; 
}



.custom-card-btn {
    background-color: #f76300 !important;
    border: none;
    color: white;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.custom-card-btn:hover {
    background-color: #E24800 !important; 
}
