@page "/products-catalog"
@rendermode InteractiveServer

<PageTitle>Trivial Brick - Products</PageTitle>

@if (products == null)
{
    <p>Loading ...</p>
}
else
{
    <div class="actions-container">
        <button class="btn btn-primary">Filter by Price</button>
        <button class="btn btn-primary">Filter by Name</button>
    </div>
    <div class="products-container">
    @foreach (var prod in products)
        {
            // ToDo: check if the product have stock
            <ProductCard Name="@prod.Name" Price="@prod.Price" Image="@prod.Image" HaveStock="@true" />
        }
    </div>
}

@code {
    private List<Product>? products;

    protected override async Task OnInitializedAsync()
    {
        products = await _catalogs.GetAllProducts();
    }
}