@page "/products-catalog"
@rendermode InteractiveServer

<PageTitle>Trivial Brick - Products</PageTitle>

@if (products == null)
{
    <p>Loading ...</p>
}
else
{
    <div class="actions-container">
    <button class="btn btn-primary" @onclick="ToggleCreateProductModal">
        Add Product
    </button>
</div>

    <div class="products-container">
    @foreach (var prod in products)
        {
            // ToDo: check if the product have stock
            <ProductCard Name="@prod.Name" Price="@prod.Price" Image="@prod.Image" HaveStock="@true" />
        }
    </div>
}

@if (showCreateProductModal)
{
    <CreateProductModal ToggleModal="ToggleCreateProductModal" />
}

@code {
    private List<Product>? products;
    private bool showCreateProductModal = false;

    protected override async Task OnInitializedAsync()
    {
        products = await _catalogs.GetAllProducts();
    }

    private void ToggleCreateProductModal()
    {
        showCreateProductModal = !showCreateProductModal;
    }
}
