<div class="container">
  <img src="@Image" alt="Product Image" />

  <h3 class="name">@Name</h3>

  <p class="price">@Price <img src="/images/lego_coin.png" alt="Lego Coin" ></p>

  @if (!HaveStock)
  {
    <div class="out-of-stock-container">
      <span>Out of Stock</span>
    </div>
  }
</div>

@code {
  [Parameter]
  public string Name { get; set; } = "Product Template";

  [Parameter]
  public decimal Price { get; set; } = 100;

  [Parameter]
  public required string Image { get; set; }

  [Parameter]
  public bool HaveStock { get; set; }



}