<header>
    <NavLink class="nav-link" href="/">
        <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true">Home</span>
    </NavLink>

    <NavLink class="nav-link" href="/catalog">
        <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true">Catalog</span>
    </NavLink>

    <NavLink class="nav-link" href="/assemblyLines">
        <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true">Assembly Lines</span>
    </NavLink>

    <NavLink class="nav-link" href="/login">
        <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true">Login</span>
    </NavLink>

    <NavLink class="nav-link" href="/signup">
        <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true">Sign Up</span>
    </NavLink>
</header>