@page "/leite"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<p>ID: @id</p>
<p>Is Admin: @isAdmin</p>
<p>Is User: @isUser</p>

<button @onclick="_OnInitializedAsync" class="btn btn-primary">Update</button>

@code {
    private string id = "";
    private bool isAdmin = false;
    private bool isUser = false;

    private async Task _OnInitializedAsync()
    {
        var authStateProvider = (AuthStateProvider)AuthStateProvider;
        var userSession = await authStateProvider.GetUserSession();

        if (userSession != null)
        {
            isAdmin = userSession.IsAdmin;
            isUser = !userSession.IsAdmin;
        }

        StateHasChanged();
    }
}
