@rendermode InteractiveServer

<header>
    <div class="header-option">
        <NavLink class="nav-link" href="/">
            <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true">Home</span>
        </NavLink>
    </div>

    <div class="header-option">
        <NavLink class="nav-link" href="/login">
            <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true">Login</span>
        </NavLink>
    </div>

    <div class="header-option">
        <NavLink class="nav-link" href="/signup">
            <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true">Sign Up</span>
        </NavLink>
    </div>

    <div class="header-option">
        <NavLink class="nav-link" href="/products-catalog">
            <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true">Products Catalog</span>
        </NavLink>
    </div>

    <div class="header-option">
        <NavLink class="nav-link" href="/assemblyLines">
            <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true">Assembly Lines</span>
        </NavLink>
    </div>

    <div class="header-option">
        <NavLink class="nav-link" href="/orders">
            <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true">Orders</span>
        </NavLink>
    </div>

    <div class="header-option">
        <NavLink class="nav-link" href="/stock">
            <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true">Stock</span>
        </NavLink>
    </div>

    <div class="header-option">
        <NavLink class="nav-link" href="/invoices">
            <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true">Invoices</span>
        </NavLink>
    </div>

    <div class="header-option">
        <NavLink class="nav-link" href="/notifications">
            <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true">Notifications</span>
        </NavLink>
    </div>

    <div class="header-option">
        <NavLink class="nav-link notification-button" @onclick="ToggleNotifications">
            <span class="bi bi-bell-fill" aria-hidden="true"></span>
        </NavLink>
    </div>


</header>

<TrivialBrick.UI.Pages.Notifications.NotificationComponent @ref="notificationComponent" />

@code {
    private TrivialBrick.UI.Pages.Notifications.NotificationComponent? notificationComponent;

    private void ToggleNotifications()
    {
        if (notificationComponent != null)
        {
            notificationComponent.ToggleNotifications();
        }
        else
        {

        }
    }
}