.assembly-line-card {
    border: 1px solid #000;
    padding: 10px;
    background-color: #F59B5E;
}

h5 {
    font-size: 1.2rem;
}

p {
    color: #000;
}

.custom-edit-state-button {
    background-color: #FFC107;
    color: #000; 
    border: 1px solid #000;
    transition: background-color 0.3s ease; 
}

.custom-delete-button {
    background-color: #DC3545;
    color: #000;
    border: 1px solid #000;
    transition: background-color 0.3s ease; 
}

.custom-cancel-button {
    background-color: #FA812F;
    color: #000;
    border: 1px solid #000;
    transition: background-color 0.3s ease; 
}

.custom-save-button {
    background-color: #FA812F;
    color: #000;
    border: 1px solid #000;
    transition: background-color 0.3s ease; 
}

.custom-edit-state-button:hover{
    background-color: #da9709;
}

.custom-delete-button:hover{
    background-color: #c41010;
}


.custom-cancel-button:hover,
.custom-save-button:hover {
    background-color: #E6731F;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);  /* Semi-transparent black */
    z-index: 1040;  /* Ensure it's above other content but below the card */
    backdrop-filter: blur(5px);  /* Optional: blur the background */
}