@page "/orders"
@rendermode InteractiveServer

<PageTitle>Orders</PageTitle>

@if (orders != null && orders.Count > 0)
{
    <div class="orders-container mt-3">
        @foreach (var ord in orders)
        {
            <OrderCard Order="ord" OnEdit="ShowEditModal" OnDelete="DeleteOrder" />
        }
    </div>
}
else
{
    <p>No orders found.</p>
}

@if (isEditModalVisible)
{
    <div class="modal-backdrop fade show"></div>

    <div class="modal show d-block" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="editOrderState">State</label>
                        <select class="form-control" id="editOrderState" @bind="editOrderState">
                            <option value="Wait_line">Wait Line</option>
                            <option value="Assembly_line">Assembly Line</option>
                            <option value="Finished">Finished</option>
                        </select>
                    </div>
                    @if (orderToEdit?.State != OrderState.Finished)
                    {
                        <div class="form-group">
                            <label for="editOrderAddress">Address</label>
                            <input type="text" class="form-control" id="editOrderAddress" @bind="editOrderAddress" />
                        </div>
                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" @onclick="CloseEditModal">Close</button>
                    <button type="button" class="btn btn-primary" @onclick="EditOrder">Save changes</button>
                </div>
            </div>
        </div>
    </div>
}

@code {
    /*
    private int orderId;
    private int productId;
    private int clientId;
    private decimal price;
    private Order? order;
    private string address = string.Empty;
    private OrderState state = OrderState.Wait_line;
    */
    private DateTime date = DateTime.Now;
    private List<Order>? orders;
    private string? errorMessage;

    private bool isEditModalVisible = false;
    private Order? orderToEdit;
    private OrderState editOrderState;
    private string editOrderAddress = string.Empty;
    private bool IsAdmin = false;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var userSession = await ((AuthStateProvider)AuthStateProvider).GetUserSession();
            var authState = await AuthStateProvider.GetAuthenticationStateAsync();
            bool IsAuthenticated = authState.User.Identity?.IsAuthenticated ?? false;
            if (!IsAuthenticated)
            {
                NavigationManager.NavigateTo("/");
            }
            else
            {
                if (userSession != null)
                {
                    IsAdmin = userSession.IsAdmin;
                }

            }
        }
        catch
        {
            IsAdmin = false; // Default to false
        }
        await GetAllOrders(); // Load data when the page initializes
        
    }

    /*
    private async Task CreateOrder()
    {
        try
        {
            var userSession = await ((AuthStateProvider)AuthStateProvider).GetUserSession();
            IsAdmin = userSession?.IsAdmin ?? false;
        }
        catch
        {
            IsAdmin = false; // Default to false
        }
    }

    private async Task CreateOrder()
    {
        if (!IsAdmin)
        {
            errorMessage = "You do not have permission to create orders.";
            return;
        }

        try
        {
            order = await _orders.CreateOrder(address, state, productId, clientId, price, date);
            await GetAllOrders();
        }
        catch (Exception ex)
        {
            errorMessage = ex.Message;
        }
    }
    

    private async Task GetOrder()
    {
        try
        {
            order = await _orders.GetOrder(orderId);
            orders = null;
            errorMessage = null;
        }
        catch (Exception ex)
        {
            errorMessage = ex.Message;
        }
    }
    */

    private async Task GetAllOrders()
    {
        try
        {
            if (IsAdmin) {
                orders = await _orders.GetAllOrders();
            } else {
                var userSession = await ((AuthStateProvider)AuthStateProvider).GetUserSession();
                if (userSession != null)
                {
                    orders = await _orders.GetOrdersByClient(int.Parse(userSession.ID));
                }
            }
            errorMessage = null;
        }
        catch (Exception ex)
        {
            errorMessage = ex.Message;
        }
    }

    private void ShowEditModal(Order ord)
    {
        if (!IsAdmin) return;

        orderToEdit = ord;
        editOrderState = ord.State;
        editOrderAddress = ord.Address;
        isEditModalVisible = true;
    }

    private void CloseEditModal()
    {
        isEditModalVisible = false;
    }

    private async Task EditOrder()
    {
        if (!IsAdmin) return;

        try
        {
            if (orderToEdit != null)
            {
                orderToEdit.State = editOrderState;
                orderToEdit.Address = editOrderAddress;
                await _orders.UpdateOrder(orderToEdit);
                await GetAllOrders();
                CloseEditModal();
            }
        }
        catch (Exception ex)
        {
            errorMessage = ex.Message;
        }
    }

    private async Task DeleteOrder(Order orderToDelete)
    {
        if (!IsAdmin) return;

        try
        {
            await _orders.DeleteOrder(orderToDelete);
            await GetAllOrders();
        }
        catch (Exception ex)
        {
            errorMessage = ex.Message;
        }
    }
}