.order-card {
    border: 1px solid #000;
    padding: 10px;
    background-color: #F59B5E;
}

.custom-edit-state-button {
    background-color: #FFC107;
    color: #000; 
    border: 1px solid #000;
    transition: background-color 0.3s ease; 
}

.custom-delete-button {
    background-color: #DC3545;
    color: #000;
    border: 1px solid #000;
    transition: background-color 0.3s ease; 
}

.product-image {
    max-width: 100px;
    max-height: 100px;
    margin-top: 10px;
    margin-left: 10px;
}


.check-invoice-button {
    background-color: #FA812F; /* Cor de fundo laranja escuro */
    color: black; /* Cor do texto */
    border-color: black; /* Cor da borda */
    border-width: 1px;
    border-style: solid;
    border-radius: 10px; /* Borda arredondada */
    padding: 0.5rem 1rem; /* Ajuste de espaçamento */
    font-size: 1rem; /* Tamanho da fonte */
    cursor: pointer; /* Mostra o cursor ao passar */
    transition: background-color 0.3s ease; /* Suavidade na mudança de cor */
}

.check-invoice-button:hover {
    background-color: #E6731F; 
}