@page "/catalog"
@rendermode InteractiveServer

<PageTitle>Catalog</PageTitle>

<h1>Catalog!</h1>

<p>List all the products here, and also options to create new ones. Think this as an admin Page (client page will be adapted after)</p>

@code {
}
